%measurement{
    width:100%;
    margin:0 auto;
    padding:0;
}
@mixin bg-color($value){
    background-color:$value;
}
#outercontent8{
   @extend %measurement;
    @include bg-color(#d9d9d9);
    float:left;
    #content8{
        @extend %measurement;
		max-width:1000px;
		margin-top:50px;
		margin-bottom:50px;
        h2{
            color:#343a40;
            font-size:30px;
            font-weight:50;
            text-align:left;
            padding:0px 15px;
        }
        p{
            color:#343a40;
            text-align:left;
            padding:0px 15px;
        }
        .wrapper{
            width: 30%;
            text-align:center;
            float:left;
            padding:0 10px;
            @include bg-color(white);
            height:450px;
            position:relative;
            margin:10px 10px;
        }
        .wrapperimage{
            height:200px;
            width:300px;
            position:absolute;
            left:0;
            top:0;
        }
        .wrappertext{
            position:absolute;
            left:0;
            top:200px;
        }
        .btn2{
            height:50px;
            width:150px;
            @include bg-color(transparent);
            color:#343a40;
            text-decoration:none;
            padding:10px 10px;
            border:2px solid white;
            margin:0 auto;
            margin-left:5px;
            border-radius:25px;
            border:1px solid #343a40;
            float:left;
            &:hover{
                @include bg-color(#d0a904);
		        border:none;
            }
        }
	}
}